<!DOCTYPE html>
<html>
<head>
    <title>Сторінка входу</title>
</head>
<body>
Вхід
<form action="/login" method="post">
    <div><label> Користувач : <input type="text" name="username"/> </label></div>
    <div><label> Пароль : <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Ввійти"/></div>
    <a href="/registration"> Зареєструватися</a>
</form>
</body>
</html>